name: Generate world map (self hosted linux)

on:
    workflow_dispatch:
        inputs:
            release_id:
                required: true

permissions:
    contents: write # needed to create / update releases
    actions: read

jobs:
    build:
        runs-on: self-hosted
        timeout-minutes: 1.440

        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24
            - run: npm install
            - run: node scripts/download_archive.ts ${{ github.event.inputs.release_id }}
            - run: python3 scripts/vips.py
            - run: tar -czf tiles.tar.gz  --no-xattrs -C public/tiles .
            - run: cp /root/wplace-archive/.env .env
            - name: Split archive into <2GB parts
              run: |
                  echo "Original archive size:" && ls -lh tiles.tar.gz
                  split -b 1999M -d -a 3 tiles.tar.gz tiles.tar.gz.part.
                  rm tiles.tar.gz
                  echo "Generated parts:" && ls -lh tiles.tar.gz.part.*
            - name: Upload release assets
              run: echo "" | gh release create ${{ github.event.inputs.release_id }} --repo samuelscheit/wplace-archive -t ${{ github.event.inputs.release_id }} tiles.tar.gz.part.* --notes-file -
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - run: node scripts/s3_upload_directory.ts public/tiles tiles/${{ github.event.inputs.release_id }}
